In [1]:
import pandas as pd
import numpy as np

# DATA PREPROCESSING

In [2]:
#Reading dataset
path="E:\Backup\Data\Sales_data.csv"
df=pd.read_csv(path,encoding='latin-1')

<>:2: SyntaxWarning: invalid escape sequence '\B'
<>:2: SyntaxWarning: invalid escape sequence '\B'
C:\Users\Admin\AppData\Local\Temp\ipykernel_7832\3946978812.py:2: SyntaxWarning: invalid escape sequence '\B'
  path="E:\Backup\Data\Sales_data.csv"

In [3]:
print('Total rows:',df.shape[0])
print('Total columns:',df.shape[1])

Total rows: 6101
Total columns: 256

In [4]:
df.columns

Index(['ITEMNAME', 'BRAND', 'TYPE', 'STYLE', 'PATTERN', 'COLOR', 'SUPPCITY',
       'YEAR', 'MONTH', 'NETSALESRATE',
       ...
       'Unnamed: 246', 'Unnamed: 247', 'Unnamed: 248', 'Unnamed: 249',
       'Unnamed: 250', 'Unnamed: 251', 'Unnamed: 252', 'Unnamed: 253',
       'Unnamed: 254', 'Unnamed: 255'],
      dtype='object', length=256)

In [5]:
#DROPPING UNWANTED COLUMNS
cols=df.columns[df.isnull().sum()==6101]
print(cols)

df=df.drop(cols,axis=1)

Index(['Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16',
       'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20',
       'Unnamed: 21', 'Unnamed: 22',
       ...
       'Unnamed: 246', 'Unnamed: 247', 'Unnamed: 248', 'Unnamed: 249',
       'Unnamed: 250', 'Unnamed: 251', 'Unnamed: 252', 'Unnamed: 253',
       'Unnamed: 254', 'Unnamed: 255'],
      dtype='object', length=243)

In [6]:
#NEW SHAPE
print('Total rows:',df.shape[0])
print('Total columns:',df.shape[1])

Total rows: 6101
Total columns: 13

In [7]:
#NULL VALUES
df.isnull().sum()

ITEMNAME        0
BRAND           0
TYPE            0
STYLE           0
PATTERN         0
COLOR           0
SUPPCITY        0
YEAR            0
MONTH           0
NETSALESRATE    0
PROFITPER       0
SALESQTY        0
SALESAMOUNT     0
dtype: int64

In [8]:
df[['ITEMNAME', 'PATTERN', 'COLOR', 'SUPPCITY', 'MONTH', 'NETSALESRATE','PROFITPER', 'SALESQTY', 'SALESAMOUNT']].nunique()

ITEMNAME         115
PATTERN          659
COLOR             56
SUPPCITY          33
MONTH              5
NETSALESRATE     462
PROFITPER       3089
SALESQTY          67
SALESAMOUNT     1853
dtype: int64

In [9]:
#We drop year as it is a reduntant feature 
df=df.drop('YEAR',axis=1)

In [10]:
#REPLACING EMPTY COLUMNS AS NULL COLUMNS
df=df.replace('.','')
df=df.replace('............','')
df=df.replace('',np.nan)

In [11]:
print(df.columns)

Index(['ITEMNAME', 'BRAND', 'TYPE', 'STYLE', 'PATTERN', 'COLOR', 'SUPPCITY',
       'MONTH', 'NETSALESRATE', 'PROFITPER', 'SALESQTY', 'SALESAMOUNT'],
      dtype='object')

In [12]:
#CHECKING FOR NULL COLUMNS
print(df.isnull().sum())
#Since we have a huge number of missing values we follow the following stratergy
'''<10% missing: Mean/Median/Mode Imputation
10-30% missing: Try KNN or Model-Based Imputation
>30% missing in a column: Consider if the column is valuable enough to keep'''

ITEMNAME           0
BRAND           2692
TYPE            4317
STYLE           2956
PATTERN          380
COLOR           2108
SUPPCITY           0
MONTH              0
NETSALESRATE       0
PROFITPER          0
SALESQTY           0
SALESAMOUNT        0
dtype: int64

'<10% missing: Mean/Median/Mode Imputation\n10-30% missing: Try KNN or Model-Based Imputation\n>30% missing in a column: Consider if the column is valuable enough to keep'

In [13]:
#Since type and style have a very large number of null values we drop them;since brand values are also not unique we drop them
df=df.drop('TYPE',axis=1)
df=df.drop('STYLE',axis=1)
df=df.drop('BRAND',axis=1)

In [14]:
#For pattern and color lets do categorical encoding by imputing the mode of each columns
df['PATTERN']=df['PATTERN'].fillna(df['PATTERN'].mode()[0])
df['COLOR']=df['COLOR'].fillna(df['COLOR'].mode()[0])

In [15]:
#CHECKING FOR NULL COLUMNS
df.isnull().sum()

ITEMNAME        0
PATTERN         0
COLOR           0
SUPPCITY        0
MONTH           0
NETSALESRATE    0
PROFITPER       0
SALESQTY        0
SALESAMOUNT     0
dtype: int64

In [16]:
#Saving the processed data into a csv file
df.to_csv('processed_data.csv', index=False)